{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}
<div style="display:flex;flex-direction:column;height:40vh;width:100%; justify-content:center;align-items: center;">
<h1>
404 Nada encontrado!
</h1>
<h2>Página não existente</h2>
</div>
{% endblock %}
{% block not_logged %}
<div style="display:flex;flex-direction:column;height:40vh;width:100%; justify-content:center;align-items: center;">
<h1>
404 Nada encontrado!
</h1>
</div>
{% endblock %}
