{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}
<div class="sideImage">
<div class="centerContainer">
<div class="Paper">
    <h3>Registrar</h3>
  <form class="AuthForm" action="" method="post">
    <div class="TextField">
      <input name="username" id='username' type="username" placeholder="John Doe" maxlength="150" required >
      <label for="username">Nome de usuário</label>
    </div>
    <div class="TextField">
      <input name="email" id='email' type="email" placeholder="email@exemplo.com" maxlength="150" required>
      <label for="email">Email</label>
    </div>
    <div class="TextField">
      <input name="password" id='password' type="password" placeholder="**********" maxlength="150" required>
      <label for="password">Senha</label>
    </div>
    <button class="WideBtn" type="submit">Registrar-se</button>
    <a href="/login">Voltar para Login</a>
  </form>
</div>
</div>
</div>
{% endblock %}

