{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}
<div style="display:flex;height:40vh;width:100%; justify-content:center;align-items: center;">
<h1>
404 Nada encontrado!
</h1>
</div>
{% endblock %}