{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}

<div class="TitleHeader">
    <h1 class="Title">Biblioteca</h1>
</div>
<div class="Paper cardsContainer">
    {% for i in interface %}
        <div class="card">
        <div class="cardImage">
            <img src={{i['cover_image']}} alt="Book cover">
        </div>
        <div class="cardContent">
            <h3 class="cardTitle">{{i['title']}}</h3>
            <p class="cardSubtitle">{{i['author']}}</p>
            <p class="cardSubtitle">{{i['publisher']}}</p>
        </div>
        <button class="navBtn listBtn" value="studying/{{i['nameID']}}">Acessar</button>
        </div>
    {% endfor %}

</div>
{% endblock %}