{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}

<div class="TitleHeader">
    <h1 class="Title">Rota de estudos</h1>
</div>
<div class="Paper">
    {% for i in interface %}
        <i class="material-icons">computer</i>

    {% endfor %}
    

</div>
{% endblock %}