{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}

<div class="TitleHeader">
    <h1 class="Title">Secretaria Digital</h1>
</div>
<div class="Paper cardsContainer">
    
    <button value='secretary/registration' class="navBtn cardBtn">
        <div class="cardContent">
            <i class="cardIcon material-icons">book</i>
            <h3 class="cardTitle">Matrícula</h3>
            <h6 class='cardSubtitle'>Informações sobre sua matrícula</h6>
        </div>
    </button>

    <button value='secretary/historic' class="navBtn cardBtn">
        <div class="cardContent">
            <i class="cardIcon material-icons">history_edu</i>
            <h3 class="cardTitle">Histórico</h3>
            <h6 class='cardSubtitle'>Histórico escolar</h6>
        </div>
    </button>

    <button value='secretary/teachers' class="navBtn cardBtn">
        <div class="cardContent">
            <i class="cardIcon material-icons">group</i>
            <h3 class="cardTitle">Professores</h3>
            <h6 class='cardSubtitle'>Informações sobre os professores</h6>
        </div>
    </button>

    <button value='secretary/services' class="navBtn cardBtn">
        <div class="cardContent">
            <i class="cardIcon material-icons">sms_failed</i>
            <h3 class="cardTitle">Serviços</h3>
            <h6 class='cardSubtitle'>Acompanhar ou solicitar um serviço</h6>
        </div>
    </button>

    <button value='secretary/schedules' class="navBtn cardBtn">
        <div class="cardContent">
            <i class="cardIcon material-icons">schedule</i>
            <h3 class="cardTitle">Horários</h3>
            <h6 class='cardSubtitle'>Veja os horários de aulas</h6>
        </div>
    </button>

    <button value='secretary/policies' class="navBtn cardBtn">
        <div class="cardContent">
            <i class="cardIcon material-icons">policy</i>
            <h3 class="cardTitle">Políticas</h3>
            <h6 class='cardSubtitle'>Informações sobre nossas políticas</h6>
        </div>
    </button>

</div>
{% endblock %}