{% extends 'components/navmenus/lateralmenu.jinja' %}
{% block content %}

<div class="TitleHeader">
    <h1 class="Title">Rota de estudos</h1>
</div>
<div class="Paper">
    {% for i in interface %}
        <div class="listBlock">
            <div style="width:50%"><h6 class="listTitle">{{i['discipline']}}</h6><div><button class="navBtn listBtn" value="studying/{{i['nameID']}}">Acessar</button></div></div>
            <div style="display:flex;justify-content:right;width:50%;align-items:center;"><progress style="right:0;"value= {{i['progress']}} max="100"></progress></div>
            
            
        </div>
    {% endfor %}
    

</div>
{% endblock %}