{% extends 'components/headers/headquizzpp.jinja' %}
{% block content %}

<h2 style="font-weight:400;">Matemática</h2>
<div class="mainContainer">
    <h1>Quizz++</h1>

</div>
<div class="mainContainer resContainer">
    <h2>Quanto é <span id="calc">calculo</span>?</h2>
    
    <input class="input-quizz" type="number" value=0>
    <button class="res-btn">RESPONDER</button>
</div>
<div style="margin-top:70px;">
    <div class="notifier"><h3>Você acertou!!</h3></div>
    <p>Pontos em matemática</p>
    <p class="pointsText" id="thisPointsMath">0</p>
    <p>Pontos acumulados</p>
    <p class="pointsText" id="pointsText">0</p>
    <button class="reset-btn">Resetar pontuação</button>
</div>
<script src="{{ url_for('static',filename='js/games/quizzpp/math.js') }}"></script>
<script src="{{ url_for('static',filename='js/games/quizzpp/points.js') }}"></script>
{% endblock %}