{% extends 'components/headquizzpp.html' %}
{% block content %}
    <div class="mainContainer">
        <h1>Quizz++</h1>
        <h2>Um jogo de perguntas</h2>
    </div>
    <div class="mainContainer buttonContainer">
        <button class="disc-btn">Matemática</button>
        <button class="disc-btn">Geografia</button>
        <button class="disc-btn">História</button>
        <button class="disc-btn">Química</button>
        <button class="disc-btn">Biologia</button>
        <button class="disc-btn">Física</button>
        <button class="disc-btn">Astronomia</button>
        <button class="disc-btn">Tecnologia</button>
    </div>
    <div>
        <p>Pontos acumulados</p>
        <p class="pointsText">0</p>
        <button class="reset-btn">Resetar pontuação</button>
    </div>
{% endblock %}