{% extends 'components/headers/head.jinja' %}
{% block header %}
<header id="header">
    <div id="main-menu">
        <div id="container1">
            <a value="" class="navBtn"><h1 id="titleHeader">Educa++</h1></a>
            <h2 id="subtitleHeader">Plataforma Educacional Open Source</h2>
        </div>
        <div id="container2">
            <div id="accountBtn">Conta</div>
        </div>
    </div>
</header>
{% endblock %}