{% extends 'components/headers/header.jinja' %}
{% block lateral_menu %}

<nav id="lateral-menu">
    <div id="lateralHeader">
        <button id="retractBtn">
            <i class="btn material-icons">
                chevron_left
            </i>
        </button>
    </div>
    <div id="ProfileInfo">
        <img class="profilePic" src="https://pub-static.fotor.com/assets/projects/pages/d5bdd0513a0740a8a38752dbc32586d0/fotor-03d1a91a0cec4542927f53c87e0599f6.jpg" alt="Foto de perfil">
        <h3>Daniel Flores de Souza</h3>
        <h6 id="idNumber">RIA:3731026</h6>
    </div>

    <ul class="menu-list">
        <button value="studying" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                computer
            </i>
            <h3>Estudar</h3>
        </button>
        <button value="secretary" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                support_agent
            </i>
            <h3>Secretaria Digital</h3>
        </button>
        <button value="library" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                local_library
            </i>
            <h3>Biblioteca</h3>
        </button>
        <button value="courses" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                school
            </i>
            <h3>Cursos</h3>
        </button>
        <button value="notices" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                notifications
                </i>
            <h3>Avisos</h3>
        </button>
        <button value="requests" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                info
            </i>
            <h3>Solicitações</h3>
        </button>
        <button value="manual" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                accessibility_new
            </i>
            <h3>Manual do Aluno</h3>
        </button>
        <button value="instructions" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                info
            </i>
            <h3>Como Estudar</h3>
        </button>
        {% if role == "student" %}
        <button value="performance" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                trending_up
                </i>
            <h3>Meu Desempenho</h3>
        </button>
        {% endif %}

        {% if role == "tutor" %}
        <button value="settings" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                settings
                </i>
            <h3>Configurações</h3>
        </button>
        <button value="students-performance" class="navBtn lateralItemCard">
            <i class="navIcon material-icons">
                trending_up
                </i>
            <h3>Desempenho dos seus alunos</h3>
        </button>
        {% endif %}
    </ul>
</nav>
<script src="{{ url_for('static',filename='js/nav.js') }}" defer></script>
{% endblock %}