{% extends 'components/headers/header.jinja' %}
{% block lateral_menu %}
<nav id="lateral-menu">
    <div id="lateralHeader">
        <button id="retractBtn"><span class="material-symbols-rounded">
            chevron_left
        </span>
</button>
    </div>
    <div id="ProfileInfo">
        <img class="profilePic" src="https://pub-static.fotor.com/assets/projects/pages/d5bdd0513a0740a8a38752dbc32586d0/fotor-03d1a91a0cec4542927f53c87e0599f6.jpg" alt="Foto de perfil">
        <h3>Daniel Flores de Souza</h3>
        <h6 id="idNumber">RIA:3731026</h6>
    </div>

    <ul class="menu-list">
        <button value="studying" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                computer
            </span>
            <h3>Estudar</h3>
        </button>
        <button value="library" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                support_agent
            </span>
            <h3>Secretaria Digital</h3>
        </button>
        <button value="library" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                local_library
            </span>
            <h3>Biblioteca</h3>
        </button>
        <button value="courses" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                school
            </span>
            <h3>Cursos</h3>
        </button>
        <button value="manual" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                notifications
                </span>
            <h3>Avisos</h3>
        </button>
        <button value="instructions" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                info
            </span>
            <h3>Solicitações</h3>
        </button>
        <button value="manual" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                accessibility_new
            </span>
            <h3>Manual do Aluno</h3>
        </button>
        <button value="instructions" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                info
            </span>
            <h3>Como Estudar</h3>
        </button>
        {% if role == "student" %}
        <button value="courses" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                monitoring
                </span>
            <h3>Meu Desempenho</h3>
        </button>
        {% endif %}

        {% if role == "tutor" %}
        <button value="library" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                settings
                </span>
            <h3>Configurações</h3>
        </button>
        <button value="courses" class="navBtn lateralItemCard">
            <span class="navIcon material-symbols-rounded">
                monitoring
                </span>
            <h3>Desempenho dos seus alunos</h3>
        </button>
        {% endif %}
    </ul>
</nav>
<script src="{{ url_for('static',filename='js/nav.js') }}" defer></script>
{% endblock %}