{% extends 'components/head.html' %}
{% block content %}
<div id="header-container">
    <header id="main-menu">
            <div id="container1">
                <h1 id="titleHeader">Educa++</h1>
                <h2 id="subtitleHeader">The community encyclopedia</h2>
            </div>
    </header>
    <div id="container2">
        <ul class="menu-list">
            <li>Biologia</li>
            <li>Química</li>
            <li>Física</li>
            <li>Astronomia</li>
            <li>Tecnologia</li>
            <li>Matemática</li>
            <li>Geografia</li>
            <li>História</li>
            <a href="/jogos/"><li>Jogos</li></a>
        </ul>
    </div>
    <div id="container3">
        <div>Conta</div>
    </div>
</div>
{% endblock %}