*{
    margin: 0;
    padding: 0;
    box-shadow: rgba(3, 102, 214, 0.0) 0px 0px 0px 3px;
    font-family: 'Gladly Accept', sans-serif;
}
body{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://pixabay.com/get/geb6d4eb1642f8441935598786121268013be939f6509a63b87f6420bff0368b4f3714da1adf5799d5b4966cb2409c7a97921d7ea96f4d55da02ddfca8df38e0ce10be455e96fd2709bfd7bdfdcd0a513_1920.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContainer h2{
    font-weight: 500;
}
.mainContainer h1{
    font-weight: 500;
    font-size: 6rem;
}
.mainContainer{
    height: 150px;
}
.buttonContainer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
}
.disc-btn{
    padding: 10px;
    font-family: 'Gladly Accept', sans-serif;
    font-size: 2rem;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    background: linear-gradient(90deg, orange 0%, rgb(255, 232, 188) 35%, rgb(255, 255, 255) 100%);
    background-size: 400% 400%;
    color: white;
    transition: all 0.2s;
}
.disc-btn:hover{
    font-size: 2.2rem;
    cursor: pointer;
}
.pointsText{
    font-size: 2rem;
}
.reset-btn{
    color:rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: black;
}