/* GENERAL AND DEFAULTS CONFIGURATION*/
*{
    margin: 0;
    padding: 0;
    box-shadow: rgba(3, 102, 214, 0.0) 0px 0px 0px 3px;
    font-family: 'Gladly Accept', sans-serif;
    text-decoration: none;
}
:root{
    --primary-color:#fca311;
    --secondary-color:blue;
    --background-color: #ffffff;
    --paper-background-color: #ffffff;
    --title-text-color: #ffffff;
    --subtitle-text-color:#dfdfdf;
    --primary-text-color: #000000;
    --secondary-text-color: #3b3b3b;
    --hover-menu-color: #e5e5e5;
    --default-menushadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --paper-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --lateral-menu-width: 300px;
}
body{
    display: flex;
    overflow: hidden;
}
.bodyContainer{
    width: 100%;
}
.contentContainer{
    inset: 10px;
    margin: auto;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    padding: 10px;
}
/* END OF GENERAL AND DEFAULTS CONFIGURATION*/

/* HEADER CONFIGURATION*/
#header{
    background-color: var(--primary-color);
    box-shadow: var(--default-menushadow);
    height: 70px;
}
#main-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    align-items: center;
}
#container1,#container2{
    width: 50%;
    height: 100%;
    align-items: center;
}
#accountBtn{
    text-align: right;
    margin: 15px;
    right: 0;
}
#titleHeader{
    font-size: 1.8rem;
    color:var(--title-text-color);
}
#subtitleHeader{
    font-size: 1.0rem;
    color: var(--subtitle-text-color);
    font-weight: 400;
}
/* END OF HEADER CONFIGURATION*/

/* LATERAL MENU CONFIGURATION*/
#lateralHeader{
    height: 70px;
    border: 1px solid var(--hover-menu-color)
}
#lateral-menu{
    height: 100vh;
    background-color: var(--background-color);
    box-shadow: var(--default-menushadow);
    width: var(--lateral-menu-width);
}
.menu-list{
    padding: 8px;

}
.menu-list li{
    color: var(--primary-text-color);
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 7px;
}
.menu-list li:hover{
    background-color: var(--hover-menu-color);
}
/* END OF LATERAL MENU CONFIGURATION*/

/* CONTENT CONFIGURATION*/
.Paper{
    background-color: var(--paper-background-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--paper-shadow);
}

/* END OF CONTENT CONFIGURATION*/