{% extends 'components/headers/header.html' %}
{% block lateral_menu %}
<nav id="lateral-menu">
    <div id="lateralHeader">
        <button>Retract</button>
    </div>
    <ul class="menu-list">
        <a href="/"><li>Home</li></a>
        <a href="/biology/"><li>Biologia</li></a>
        <a href="/chemistry/"><li>Química</li></a>
        <a href="/physic/"><li>Jogos</li></a>
        <a href="/mathematic/"><li>Matemática</li></a>
        <a href="/geography/"><li>Geografia</li></a>
        <a href="/history/"><li>História</li></a>
        <a href="/jogos/"><li>Jogos</li></a>
    </ul>
</nav>
{% endblock %}